# Do NOT track travel notes media with Git LFS
content/travel_notes/**/*.jpg !text !filter !merge !diff
content/travel_notes/**/*.JPG !text !filter !merge !diff
content/travel_notes/**/*.jpeg !text !filter !merge !diff
content/travel_notes/**/*.JPEG !text !filter !merge !diff
content/travel_notes/**/*.png !text !filter !merge !diff
content/travel_notes/**/*.PNG !text !filter !merge !diff
content/travel_notes/**/*.heic !text !filter !merge !diff
content/travel_notes/**/*.mp4 !text !filter !merge !diff
